* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(0deg, rgba(94, 204, 255, 0.705), rgb(0, 0, 0));
  color: white;
}
.shop_name {
  font-weight: 600;
}
.search-field {
  border: none;
  border-radius: 4px;
  padding: 5px;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: transparent;
}
.search-field:focus {
  outline: none;
  border: none;
}
.search-box {
  border: 1px solid rgba(94, 204, 255, 0.705);
  width: 252px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  border-right: none;
}
.search-button {
  padding: 5px 10px;
  border-radius: 4px;
  margin-left: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: rgba(94, 204, 255, 0.705);
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px rgb(24, 24, 24);
  border-radius: 10px;
  border: 1px solid rgba(94, 204, 255, 0.705);
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px rgba(94, 204, 255, 0.226);
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}

#my_cart_text {
  font-size: 30px;
}

.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
